body {
    background-color: #777;
    font-family: sans-serif;
    color: #777;
}

.article {
    background-color: #777;
    margin: 5px 20px 5px 20px;
    padding-bottom: 30px;
    
}

.article-color {
    color: #ebebeb;
}

.bg-grey {
    background-color: #ebebeb;
    margin: 3px 20px 5px;
}


.container {
    width: 960px;
    margin: 0 auto;
   
}

.section {
    background-color: #ebebeb;
    margin: 8px 0;
    clear: both;
}

.section-label {
    width: 100%;
    text-align: center;
    padding: 16px 0;
    margin: 5px  ;
    
}

.text-center {
    text-align: center;
}

.column {
float: left;
clear: right;

}

.inline {
    display: inline;
    font-size: 16px;
    
}



.column-layout-left {
    width: 630px;
    margin-right: 10px;
    margin-bottom: 8px;

}

.column-layout-right {
    width: 310px;
    margin-left: 10px;
    margin-bottom: 8px;
    height: 228px;
}

.p-class {
   
}